<!-- views/partials/header.ejs -->
<nav class="header navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-cloud-download"></span>
                IVY Open Source licenses
            </a>
           
        </div>
    </div>
</nav>