@import '_colors';

body {
    padding-top: 10px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    min-height: 100%;
}

.expand {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.header {
    position: sticky;
}

.footer {
    background-color: $c02;
    text-color {
        color: $c01;
    }
}